/* Body styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    /* Background image and gradient animation */
    background-image: url('istockphoto-1001279256-612x612.jpg'), linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-position: center;
    animation: backgroundAnimation 10s ease infinite;
}

/* Background animation */
@keyframes backgroundAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* Form container styles */
.form-container {
    background-color: rgba(74, 54, 145, 0.014); /* Transparent background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
